/* global */
*{
    position: relative;
    box-sizing: border-box;
}
body{
    font-family: 'serif';
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
/* layout */
.wrapper{
    background-color: #ccc;
    height: 100vh;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* compents */
.card{
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 3px 30px rgba(0,0,0,0.3);
}
/* style for signup card */
.signup{
    width: 960px;
    height: 640px;
}