/* content */
/* 
*content
*botton
*avtor
*card
*navigation
*jumbotron
*hero
*footer
*/

/* botton */
.btn{
    /* structure */
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 36px;
    line-height: 36px;
    padding: 0 32px;
    min-width: 64px;
    
    /* style */
    border: 1px solid #000;
}
.btn.btn--hover,
.btn:hover{

}
.btn.btn--primary{

}
/* card */
.card{
    background-color: #fbfbfb;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}