/* global */
*{
    position: relative;
    box-sizing: border-box;
}
body{
    font-family: 'serif';
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
/* wrapper */
.wrapper{
    background-color: #ddd;
    min-height: 100vh;
}
/* components */
/* card */
.card{
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 3px 30px rgba(0,0,0,0.3);
}
/* button */
.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 64px;
    border: 0;
    color: #fff;
    text-decoration: none;
    border-radius: 26px;
    cursor: pointer;
}
.btn.btn--primary{
    background-color: #ff3b68;
}
.btn.btn--secondary{
    background-color: #333;
}
input.btn:focus{
    outline: 0;
}
/* input */
input[type="text"],
input[type="password"],
input[type="email"]{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #efefef;
    border: 1px solid #efefef;
    line-height: 44px;
    padding: 0 8px;
    width: 100%;
    border-radius: 4px;
    color: #333;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    outline:0;
    border-color: #ff3b68;
}
/* styles for apply */
.apply{
    max-width: 1200px;
    margin: auto;
    padding: 44px 0;
}
.apply__title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}
.apply__subtitle{
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-top: 32px;
}