/* global */
*{
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}
h2,p{
    margin: 0;
}
/* component */
.btn{

}
.image-container{
    border: 1px solid #000;
    width: 100%;
    display: block;
}
.image-container::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 133.333333%;
}
/* hero */
.hero{

}
/* product-item */
.product-item{

}



/* animation */