/* global */
*{
    box-sizing: border-box;
    position: relative;
}
body{
    font-family: "serif";
}
/* compontent */
.wrapper{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#4c68d7,#8a3ab9,#bc2a8d,#cd486b,#e95950,#fbad50,#fccc63);
}
/* camera */
.camera{
    width: 0px;
    height: 0px;
    border-radius: 50px;
    border: 10px solid #fff;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;

    animation: 
        ballUp .5s 1s forwards,
        ballDown .2s 1.5s ease-in forwards,
        cameraIn .3s 1.7s forwards;
}
@keyframes ballUp {
    0%{
        width: 5px;
        height: 5px;
        top: 50%;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        width: 5px;
        height: 5px;
        top: 10%;
        opacity: 1;
    }
}
@keyframes ballDown {
    0%{
        top: 10%;
    }
    100%{
        top: 50%;
    }
}
@keyframes cameraIn {
    0%{
        width: 5px;
        height: 5px;
    }
    80%{
        width: 250px;
        height: 250px;
    }
    100%{
        width: 200px;
        height: 200px;
    }
}
/* lens */
.lens{
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 15px solid #fff;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: lensIn .3s 1.8s forwards;
}
@keyframes lensIn {
    0%{
        width: 0;
        height: 0;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    80%{
        width: 120px;
        height: 120px;
    }
    100%{
        width: 100px;
        height: 100px;
        opacity: 1;
    }
}
/* flashLight */
.flashLight{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0);

    position: absolute;
    right: 20px;
    top: 20px;
    animation: flashLightIn .3s 2.2s forwards;
}
@keyframes flashLightIn {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}