*{
    box-sizing: border-box;
    position: relative;
}
/* component */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    width: 80px;
    height: 80px;
    background-color: #f54266;
    border-radius: 50%;
    /* animation-name: moveRight; */
    /* 執行時間 */
    /* animation-duration: 4s; */
    /* 延遲X開始 */
    /* animation-delay: 3s; */
    /* 執行次數 infinite 無限次 */
    /* animation-iteration-count: infinite; */
    /* 執行方向 reverse相反 */
    /* animation-direction: reverse; */
    /* 變換取線 ease ease-in ease-out liner */
    /* animation-timing-function: ease; */
    /* 結束後位置 */
    /* animation-fill-mode: backwards; */


    /* animation: moveRight 4s 3s infinite reverse ease-in forwards; */
    /* animation: 
        moveRight 3s 2 forwards,
        moveDown 2s 6s forwards; */

    animation-name: moveRight;
    animation-duration: 4s;
    animation-name: moveDown;
    animation-duration: 4s;
    animation-fill-mode: backwards;
}
@keyframes moveRight {
    0%{
        left: 0px;
    }
    100%{
        left: 300px;
    }
}
@keyframes moveDown {
    0%{
        top: 0px;
    }
    100%{
        bottom: 300px;
    }
}




